h1 {
  text-align: center;
  color: darkolivegreen;
}
.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.container div {
  margin: 2rem;
  padding: 2rem;
  border: 2rem solid #b9d08b;
  width: 30rem;
  height: 10rem;
}

.container div textarea {
  border: none;
}

.btn {
  background-color: #b9d08b;
  color: white;
  font-weight: bold;
  font-size: large;
  border: 5px solid darkolivegreen;
}

.btn:hover {
  background-color: darkolivegreen;
  cursor: pointer;
}
